/*Hex*/
body {
background-color: rgb(235, 235, 235);
font-family: 'Roboto', sans-serif;
}
.ryhmalainen {
  height:250px;
  min-height: 200px;

}
.ryhmalainen img {

}
header {
  width: 100%;
  background-color: rgb(180, 188, 188);
  height: 100px;
  margin-top:0px;
  margin-bottom: 0px;
}

header h1 {
  color: black;
  position: absolute;
  top: 30px;
  left:48%;
  text-align: center;
  margin-right: : 50%;
}

nav {
    }

nav li {
      list-style: none;
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      float:left;
      margin-left: 15px;
}

nav a {
  color: black;
  text-decoration: none;
}

#logo {
  width: 10%;
  display: block;
  margin-right: 25px;
  position: absolute;
  right: 20px;
  top:0px;
}

section {
  width: 100%
  height: auto;
  background-color: ;
  margin-top: 10px;
}


section h2 {
  color: rgb(180, 188, 188);
  text-align: center;
  font-size: 1.8em;
}



@media screen and (max-width: 600px) {
  .ryhmalainen {
    height:350px;
    min-height: 350px;
    color:black;
  }
   .image {
    width: 100%;
    height: 100%;
    position: relative;
    top:-50vh;
    opacity: 50%;

  }
  .teksti_vasen {
    position: relative;
    margin: 50px;
  }
  .kuva_oikea {
    position:relative;
    margin: 50px;

  }
  .teksti_oikea {
    position: relative;
    margin: 50px;

  }
  .kuva_vasen {
    position: relative;
    margin: 50px;

  }

}


.kuvausteksti {
  width: 75%;
  border: 1px solid red;
  position: relative;
  padding: 25px;
  border-radius: 50px;
  /*color: rgb(124, 125, 125);*/

}

@media screen and (min-width: 600px) {

  .ryhmäläinen {
    color: rgb(124, 125, 125);
  }
  .teksti_vasen {
  ;

  }
  .kuva_oikea {
    float: right;
    position: relative;
    top:-200px;
    margin-left: 30px;
  }
  .teksti_oikea {
    position: relative;
    right: -20vw;

  }
  .kuva_vasen {
    position: relative;
    left: 5px;
    top: -200px;
    margin-left: 0;

  }


}



}

.teksti {
}

.image {
  height: 150px;
  background-color: rgb(235, 235, 235);
  position: relative;
  z-index: -1;
}

.ideologia {
  color: rgb(124, 125, 125);
  border: 1px solid red;
  border-radius: 50px;
  margin-top: 1%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  z-index:1;
}





.alaosa
{
  width: 100%;
  background-color: rgb(180, 188, 188);
  height: 200px;
  margin-top:0px;
  margin-bottom: 0px;
}

.alaosa .sisalto
{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.kuvat {
  margin: auto;
  height: 20%;
  width: 20%;
}

#kuva1 {
  float: left;
  padding-left: 10%
}

#kuva2 {
  float: none;
  padding: 0% 10% 0% 10%
}

#kuva3 {
  float: right;
  padding-right: 10%
}
