body, html {
  height: 100%;
  background-color: #BFDBF7;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../kuvat/bitcoin.jpg");
  background-position:bottom;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid red;
}


h1 {
  text-align: center;
  font-size: 45px;
  padding: 3%;
  color: #A31621;
  }

nav {
  width: 98%;
  height: 20px;
  padding: 1%;
  background-color: black;
  border-bottom: 1px solid red;
  text-align: center;
}

.hinnastoMain, .kaavake, .etusivu {
  float: inherit;
  color: #db222a;
  margin: 2%;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.väli {
  margin-top: 4%;
  margin-bottom: 5%;
}

.tekstiLogoTeksti
{
  width: 90%;
  height: 400px;
  margin-left: 5%;
}

.laatikko
{
  float: left;
  width: 31%;
  height: 400px;
  padding: 10px;
  text-align: center;
}

.laatikko h2 {
  color: #db222a;
}

.laatikko p {
  padding: 4%;
}

.logo {
  width: 100%;
  height: 130px;
}





footer {
  position: fixed; /* Footer pysyy kokoajan näytön alareunassa */
  bottom:0;

  width: 98%;
  height: 20px;
  padding: 1%; /* jättää tilan tekstin ympärille */
  background-color: black;
  border-top: 1px solid red; /* footerin yläosaan viiva */
  text-align: center;
  color: #db222a;
}

.hinnasto {
  margin:auto;
  border: 2px black double;
  height: 75vh;
  width: 75vw;
  border-collapse: collapse;
  border-spacing: 2px;
}

thead{
}

tr {
  border: 2px black solid;
}

th, td {
  font-size: 1.4em;
  border-right: 2px black solid;

}
td {
  text-align: center;
}

.box_of_the_many_things {
  width: 99vw;
  height: 350px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-left: 50px;
  overflow: hidden;
}





form {
width: 40%;
border: solid black 2px;
position: relative;
left: 30%;
background-color: #DB222A; /*#FF5C58*/
font-family: 'Oswald', sans-serif;
border-radius: 10px;
padding: 10px 5px 10px 5px;
}

.checkbox label {
  width: 5%;
  margin-left: 5px;
  margin-bottom: 10px;
}

.checkbox input {
  width: 5%;
  margin-left: 5px;
  margin-bottom: 10px;
}

.henkilotiedot input {
  margin: inherit;
  width: 70%;
}

.yhteystiedot input {
  margin: inherit;
  width: 70%;
}

textarea {
  width: 70%;
}

.kaavakelogo {
  height: 25%;
  width: 15%;
  position: absolute;
  top: 70%;
  left: 10%;
}

button {
position: relative;
left: 22.5%;
margin-bottom: 0.5%;
}

.isologo {
width: 100%;
margin-bottom: 20px;
}
.hinlogo {
  width: 30%;
  animation-duration: 7s; /* Kesto animaatiolle */
  animation-name: fade; /* Animaation nimi keyframesta varten */
}


/*media querryt tekevät pisteet missä sivun eri elementit saavat uudet arvot,
ja uusista arvoista johtuen skaalautuu halutusti erikokoisille näytöille*/

@media screen and (max-width: 1100px) {
  .laatikko {
    width: 100%;
    margin-bottom: -200px;
  }

.logo {
  width: 30vw;
}
.right_logo {
  position:   relative;
  left: 550px;
  bottom: 240px;
  width: 30vw;
  }
  .middle_logo {
    position: relative;
    bottom: 130px;
    left: 300px;
    width: 30vw;
  }
  .logo1, .logo2, .logo3 {
    width: 100%;
  }


}



@media screen and (max-width: 480px) { /*  */
  nav { /* muuttaa navigointi palkin niin, että tekstit ovat sen sisällä */
    height: auto;
  }

  .hinnasto {
    width: 30vh;
    height: 30vw;
  }

  .hinlogo {
    width: 30%;
    height: 30%;
    margin-top: 10%;
  }

  th, td {
    font-size: 0.9em;
  }

  .väli {
    margin-top: 10%;
  }



@media screen and (min-width: 1100px) {
   .logo1, .logo2, .logo3, .isologo, {
     animation-name: fade; /* Animaation nimi keyframesta varten */
     animation-duration: 7s; /* Kesto animaatiolle */
      width: 40%;
   }
   @keyframes fade {  /* Määritellään mitä animaatio tekee */
     0% {
       opacity: 0;  /* Läpinäkyvyys */
     }
     50% {
       opacity: 0;
  }

}

}

@media screen and (min-width: 1000px) {
   .laatikko h2 {
     animation-name: fade; /* Animaation nimi keyframesta varten */
     animation-duration: 3s; /* Kesto animaatiolle */
   }

   @keyframes fade {  /* Määritellään mitä animaatio tekee */
     0% {
       opacity: 0; /* Läpinäkyvyys */
     }
     50% {
       opacity: 0;
  }
  }

}
@media screen and (max-width: 785px) {
  .logo {
    width: 30vw;
  }
  .right_logo {
    position:   relative;
    left: 350px;
    bottom: 240px;
    width: 30vw;
    }
    .middle_logo {
      position: relative;
      bottom: 130px;
      left: 200px;
      width: 30vw;
    }
    .laatikko {
      margin-bottom: -100px;
    }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 30vw;
  }
  .right_logo {
    position:   relative;
    left: 250px;
    bottom: 240px;
    width: 30vw;
    }
    .middle_logo {
      position: relative;
      bottom: 130px;
      left: 150px;
      width: 30vw;
    }
    .laatikko {
      margin-bottom: -100px;
    }
}
