body {
  background-color: #565760;
}

html {
  color: #171C45;
}

.pohja {
  width: 600px;
  margin: 50px;
  padding: 50px;
  background-color: #C0C0C1;
}

p {
  text-align: justify;
}

#nimi, #email, #ika {
  margin-left: 5%
}
