
body, html {
      height: 100%;
      }



/* muuttaa sivut selaimen kokoiseksi */
* {
margin: 0;
padding: 0;
}

h1, h3 {
  text-align: center;
  position: relative;
  top: 50%;

}


section {
      height: 100%;
      }



/* Keskittää kuvan keskelle näyttöä */
.kuva1, .kuva2, .kuva3, .kuva4 {
      height: 100%;
      background-attachment: fixed;
      background-position: center;  /* Kuva keskelle */
      background-repeat: no-repeat; /* Kuvaa ei toisteta */
      background-size: cover;
      }


/* Määrittää kuvan 1 */
.kuva1 {
  background-image: url('https://cdn.pixabay.com/photo/2019/03/08/15/05/landscape-4042502_1280.jpg');
}


/* Määrittää kuvan 2 */
.kuva2 {
  background-image: url('https://cdn4.picryl.com/photo/1929/01/01/white-house-dogs-medium-balls-92326-1024.jpg');
}


/* Määrittää kuvan 3 */
.kuva3 {
  background-image: url('https://p0.pxfuel.com/preview/937/172/877/snowboarding-sport-winter.jpg');
}


/* Määrittää kuvan 4 */
.kuva4 {
  background-image: url('https://i.redd.it/2s4g9jwr5us71.jpg');
}


/* Määrittää articlen korkeuden, tekstin värin, taustan värin ja tekstin korkeuden */
article {
      height:50%;
      color: #F2F1F1;
      background-color: #C3C3C3;
      font-size:20px
      }
