
/* muuttaa sivut selaimen korkuisiksi */
body, html {
      height: 100vh;
      }



/* muuttaa sivut selaimen levyisiksi */
* {
margin: 0; /*Marginaali sivun elementien reunassa*/
padding: 0; /* pehmusteet sivun reunassa*/
}

h1 {
  text-align: center; /*kohdistaa otsikon*/
  position: relative; /*Sijainti on suhteessa edelliseen elementtiin*/
  top: 50%; /*kertoo millä korkeudella otsikon halutaan olevan*/
  color: #911700; /*otsikon väri*/
  font-size: 50px;  /*fontin koko*/
}


h3 {
  text-align: center;/*kohdistaa otsikot*/
  position: relative;/*Sijainti on suhteessa edelliseen elementtiin*/
  top: 50%; /*kertoo otsikon halutun sijainnin*/
  color: #911700; /*otsikon väri*/
  font-size: 35px; /*otsikoioden fontti koko*/
}

h2 {
  text-align: center; /* kohdistaa tekstin keskelle*/
  position: relative; /* Sijainti on suhteessa edelliseen elementtiin*/
  top: 50%; /*kertoo otsikon halutun korkeuden*/
  color: #911700; /*otsikon väri*/
  font-family: 'Zhi Mang Xing'; /*otsikon fontti*/
  font-size: 50px; /*otsikon koko*/

}

section {
      height: 100%;/* section osuuden haluttu korkeus*/
      }



/* Keskittää kuvan keskelle näyttöä */
.kuva1, .kuva2, .kuva3, .kuva4 {
      height: 100vh;    /*säätää korkeuden sen kokoiseksi kun ikkuna tai näyttö on*/
      background-attachment: fixed; /*Kiinnittää kuvan haluttuun paikkaan*/
      background-position: center;  /* Kuva keskelle */
      background-repeat: no-repeat; /* Kuvaa ei toisteta */
      background-size: cover; /* Täyttää koko elementin kuvalla, vaikka joutuisi venyttämään kuvaa*/
      }


/* Määrittää kuvan 1 */
.kuva1 {
  background-image: url(kuvat/Mountain.jpg); /*tuo taustakuvan*/
/* Jätän tämän vanhan linkin jos sattuu tarvitsemaan osoitetta
  background-image: url('https://cdn.pixabay.com/photo/2019/03/08/15/05/landscape-4042502_1280.jpg');*/
}


/* Määrittää kuvan 2 */
.kuva2 {
  background-image: url(kuvat/white-house-dogs-medium-balls.jpg); /*tuo taustakuvan*/
  /* Jätän varoilta tämän
  background-image: url('https://cdn4.picryl.com/photo/1929/01/01/white-house-dogs-medium-balls-92326-1024.jpg');*/
}


/* Määrittää kuvan 3 */
.kuva3 {
  background-image: url(kuvat/snowboarding.jpg); /*tuo taustakuvan*/
  /* varoilta
  background-image: url('https://p0.pxfuel.com/preview/937/172/877/snowboarding-sport-winter.jpg');*/
}


/* Määrittää kuvan 4 */
.kuva4 {
  background-image: url(kuvat/Warhammer_edit.jpg); /*tuo taustakuvan*/
  /*varoilta
  background-image: url('https://i.redd.it/2s4g9jwr5us71.jpg');*/
}




/* Määrittää articlen korkeuden, tekstin värin, taustan värin ja tekstin korkeuden */
.teksti {
  height:50%; /*teksi alueen koko*/
  min-height: 300px; /* pienin sallittu korkeus*/
  color: #B34936; /*tekstin väri*/
  background-color: #FFE7E3; /*väri kohdistuu teksi alueen pohjaksi*/
  font-size:20px; /*fontin koko*/
  }

article p {
  padding: 6%; /*Teksin ympärillä oleva pehmuste*/
  text-align: center; /*Tekstin keskitys*/
  margin:auto; /*automaattisesti säädetty marginaali*/
}

.ekaOsa {
  height:1%; /*osion korkeus*/
  max-height: 1%; /*osion maksimi korkeus*/
  background-color: #FFE7E3; /*osion taustan väri*/
}

figure p {
  text-align: center; /*tekstin kohdistus keskelle*/
  position: relative; /*Sijainti määritetään suhteessa edelliseen elementiin*/
  top: 50%; /* haluttu korkeus*/
  color: #B34936; /*tekstin väri*/
  font: 8px Arial; /*fontti ja sen koko*/
}

/*media querryt tekevät pisteet missä sivun eri elementit saavat uudet arvot,
ja uusista arvoista johtuen skaalautuu halutusti erikokoisille näytöille*/

@media only screen and (max-width: 950px) {
  .teksti {
    height: auto; /*Tekee article osioista oikean kokoisia teksteille*/

  }
}

@media screen and (max-height: 300px) {
  h2 {
    top: 10%; /*siirtää otsikkoa hieman ylemmäksi jottei mene sivujen ulkopuolelle.*/
    margin:auto; /*otsikon automaattinen marginaalien määritys*/
  }

}
