body, html {
      height: 100%;
      }



/* muuttaa sivut selaimen kokoiseksi */
* {
margin: 0;
padding: 0;
}



section {
      height: 100%;
      }



/* Keskittää kuvan keskelle näyttöä */
.kuva1, .kuva2, .kuva3, .kuva4 {
      height: 100%;
      background-attachment: fixed;
      background-position: center;  /* Kuva keskelle */
      background-repeat: no-repeat; /* Kuvaa ei toisteta */
      background-size: cover;
      }


/* Määrittää mikä kuva on kuva1 */
.kuva1 {
  background-image: url('kissa2.jpg');
}


/* Määrittää mikä kuva on kuva2 */
.kuva2 {
  background-image: url('kissa3.jpg');
}


/* Määrittää mikä kuva on kuva3 */
.kuva3 {
  background-image: url('kissa2.jpg');
}


/* Määrittää mikä kuva on kuva4 */
.kuva4 {
  background-image: url('kissa3.jpg');
}


/* Määrittää articlen korkeuden, tekstin värin, taustan värin ja tekstin korkeuden */
article {
      height:50%;
      color: #F2F1F1;
      background-color: #C3C3C3;
      font-size:20px
      }
