body {
  background-color: #4989AB;
  color: #A5CEE4;
  font-weight: bold;
  text-align: center;
}

header {
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  color: #334148;
}

button:hover {
  background-color: #767676;
}

button {
  padding: 10px;
  margin-right: 5px;
  margin-top: -10px;
  background-color: #A5CEE4;
}

section {
  height: 150px;
  margin-top: 0px;
  font-size: 1.5em;
}

.peliHea, .pelinNav, .pelinSec {
  text-align: left;
  margin-left: 20px;
}


.pelilauta {
  width: 65%;
  height: 600px;
  max-height: 100vh;
  margin-left: 30%;
  margin-top: -20%;
}


.peli {
  transform-style: preserve-3d;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 22%;
  display: inline-block;
  background-color: black;
  border: 2px solid red;
}

.kortti {
width: 100%;
/*opacity: 0;*/
transform: rotateY(-180deg);

}

.toggle {
  transform: rotateY(180deg);

}

.tausta{

  backface-visibility: hidden;
}

#aika{
  position: fixed;

}
